<div class="container">
  <h3 *ngIf="tipo =='NUEVO'">Nuevo Usuario</h3>
  <h3 *ngIf="tipo =='DETALLE'">Detalle Usuario</h3>
  <h3 *ngIf="tipo =='EDITAR'">Editar Usuario</h3>
  <form class="col-6 mt-3" [formGroup]="editForm" *ngIf="loaded">
    <div class="form-group">
      <label for="">Nombre</label>
      <input type="text" name="name" class="form-control" formControlName="name"  [readonly]="tipo=='DETALLE'?true:false"/>
    </div>
    <div class="form-group">
      <label for="">Apellido</label>
      <input type="text" name="lastname" class="form-control" formControlName="lastname" [readonly]="tipo=='DETALLE'?true:false"/>
    </div>
    <div class="form-group">
      <label for="">Correo</label>
      <input type="text" name="email" class="form-control" formControlName="email" [readonly]="tipo=='DETALLE'?true:false || tipo=='EDITAR'?true:false"/>
    </div>
    <div class="form-group">
      <label for="">Telefono</label>
      <input type="text" name="phone" class="form-control" formControlName="phone" [readonly]="tipo=='DETALLE'?true:false"/>
    </div>
    <div class="form-group">
      <div class="custom-control custom-radio custom-control-inline">
        <input class="custom-control-input" id="sexo-1" type="radio" value="1" formControlName="sexo"  [disabled]="tipo=='DETALLE'?true:false">
        <label class="custom-control-label" for="sexo-1">Masculino</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input class="custom-control-input" id="sexo-2" type="radio" value="2" formControlName="sexo"  [disabled]="tipo=='DETALLE'?true:false">
        <label class="custom-control-label" for="sexo-2">Femenino</label>
      </div>
    </div>
    <div class="form-group">
      <div class="custom-control custom-radio custom-control-inline">
        <input class="custom-control-input" id="radio-1" type="radio" value="1" formControlName="status" [disabled]="tipo=='DETALLE'?true:false">
        <label class="custom-control-label" for="radio-1">Activado</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input class="custom-control-input" id="radio-2" type="radio" value="2" formControlName="status" [disabled]="tipo=='DETALLE'?true:false">
        <label class="custom-control-label" for="radio-2">Desactivado</label>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" (click)="onCancel()">Cancelar</button>
      <button class="btn btn-success ml-2" *ngIf="tipo=='EDITAR' || tipo=='NUEVO' " (click)="onSave()" [disabled]="editForm.invalid">Guardar</button>
    </div>
  </form>
</div>