<div class="container">
    <h2 class="text-center mb-3">Lista de Usuarios</h2>
    <button class="btn btn-primary" (click)="onNewUser()">Nuevo Usuario</button>
    <table class="table table-bordered table-striped text-center">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">Telefono</th>
                <th scope="col">Sexo</th>
                <th scope="col">Estado</th>
                <th scope="col">Actualizado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of usuarios">
                <th scope="row">{{ user.id }}</th>
                <th scope="row">{{ user.name }}</th>
                <th scope="row">{{ user.lastname }}</th>
                <th scope="row">{{ user.email }}</th>
                <th scope="row">{{ user.phone }}</th>
                <th scope="row">{{ user.sexo === 1 ? 'Masculino' : 'Femenino' }}</th>
                <th scope="row">{{ user.status === 1 ? 'Activado' : 'Desactivado' }}</th>
                <th scope="row">{{ user.updated_at | date: 'MM-d-yyyy' }}</th>
                <th scope="row">
                    <button class="btn btn-primary" (click)="onUpdate(user.id)">Actualizar</button>
                    <button class="btn btn-primary ml-2" (click)="onDetail(user.id)">Detalle</button>
                    <button class="btn btn-danger ml-2" (click)="onDelete(user.id)">Eliminar</button>
                </th>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>
    </div>
</div>