<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between align-content-center">
        <a class="navbar-brand" routerLink="/dashboard">NgBootstrap Admin</a>
        <div class="">
            <span *ngIf="user" style="color: white">{{ user.name }} {{ user.lastname }}</span>
            <a class="btn btn-primary ml-3 btn-sm" style="color: white;" (click)="onLogout()">Cerrar sesión</a>
        </div>
    </nav>
    <div class="d-flex align-content-stretch">
        <div class="sideNav">
            <div class="nav flex-column nav-pills">
                <ul class="navbar-nav pl-1 mt-3">
                    <li class="nav-item mb-1">
                        <a class="nav-link pl-3 pr-3" routerLink="./users" routerLinkActive="active">
                            <span class="text">Users</span>
                        </a>
                    </li>
                    <!-- <li class="nav-item mb-1">
                        <a class="nav-link pl-3 pr-3" routerLink="./products" routerLinkActive="active">
                            <span class="text">Products</span>
                        </a>
                    </li> -->
                    <!-- <li class="nav-item mb-1">
                        <a class="nav-link pl-3 pr-3" routerLink="./categories" routerLinkActive="active">
                            <span class="text">Categories</span>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
        <div class="content d-flex justify-content-center w-100 pt-5">
            <main class="w-100">
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>